<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>诗词记忆</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="/index"><img src="images/logo-sidebar.png" title="LightYear" alt="LightYear"/></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">
                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item"><a href="/index"><i class="mdi mdi-home"></i>首页</a></li>
                        <li class="nav-item"><a href="/number"><i class="mdi mdi-matrix"></i>数字记忆</a></li>
                        <li class="nav-item"><a href="/word"><i class="mdi mdi-sort-alphabetical"></i>单词记忆</a></li>
                        <li class="nav-item"><a href="/character"><i class="mdi mdi-library-books"></i>文字记忆</a></li>
                        <li class="nav-item"><a href="/picture"><i class="mdi mdi-square-inc"></i>图片记忆</a></li>
                        <li class="nav-item"><a href="/poem"><i class="mdi mdi-marker"></i>诗词记忆</a></li>
                    </ul>
                </nav>

                <div class="sidebar-footer">

                </div>
            </div>

        </aside>

        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <div id="time-left" style="text-align: center;display: none">
                            <h3 class="mdi mdi-clock" style="display:inline-block;"></h3>
                            <h3 id="time" style="display:inline-block;">0</h3>
                        </div>
                        <span class="navbar-page-title"> 后台首页 </span>
                    </div>


                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <span id="name">笔下光年 <span class="caret"></span></span>
                                <span id="username" style="display:none;"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="/logout"><i class="mdi mdi-logout-variant"></i> 退出登录</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div id="title" class="col-lg-12">
                    <div class="form-group" style="text-align: center;">
                        <h1 style="">诗词记忆</h1>
                    </div>
                </div>


                <div id="mark_result" class="col-md-12" style="display: none">
                    <h3 id="correct_num"></h3>
                    <h3 id="correct_percent"></h3>

                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <select class="form-control" id="difficulty" name="difficulty">
                            <option value="3">难度：3首</option>
                            <option value="6">难度：6首</option>
                            <option value="9">难度：9首</option>
                        </select>
                    </div>
                </div>

                <!--                <div class="col-lg-12">-->
                <!--                    <div class="card">-->
                <!--                        <div class="card-header bg-primary">-->
                <!--                            <h4>单词No.1</h4>-->
                <!--                        </div>-->
                <!--                        <div class="card-body">-->
                <!--                            <div id="show1">-->
                <!--                                <h5 style="font-weight: bold">单词：<label id="word_answer1">hesitate</label></h5>-->
                <!--                                <h5 style="font-weight: bold">中文：<label>犹豫</label></h5>-->
                <!--                                <h5 style="font-weight: bold">分析：<label>he-他，sit-坐，ate-吃的过去式</label></h5>-->
                <!--                                <h5 style="font-weight: bold">记忆：<label>他犹豫的坐着吃</label></h5>-->
                <!--                            </div>-->
                <!--                            <div id="word_question1">-->
                <!--                                <h4>中文：犹豫</h4>-->
                <!--                                <h4 style="display:inline-block;">单词：</h4>-->
                <!--                                <input id="word1" type="text"-->
                <!--                                       style="display: inline-block;border-top: none;border-left: none;border-right: none;outline: none">-->
                <!--                            </div>-->
                <!--                            <div id="result1">-->
                <!--                                <h4 style="font-weight: bold">你的答案：<label>hesitate</label></h4>-->
                <!--                                <h4 style="color: green">回答正确</h4>-->
                <!--                                <h4 style="color: red">回答错误</h4>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="col-lg-12">
                    <div class="form-group">
                        <button id="start" class="btn btn-primary btn-block btn-lg" href="/number">点击开始</button>
                    </div>
                </div>
                <div id="main-body" class="col-lg-12">

                </div>
                <div id="main-body2" style="display: none" class="col-lg-12">

                </div>
                <button id="go" class="btn btn-primary btn-block" style="display: none">已记完，直接开始</button>
                <button id="answer_submit" class="btn btn-success btn-block" style="display: none">提交答案</button>
            </div>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/perfect-scrollbar.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/bootstrap-notify.min.js"></script>
<script src="js/lightyear.js"></script>

<script>
    $(function () {
        $.ajax({
            type: 'get',
            url: '/get_info',
            traditional : true,
            //同步
            async: false,
            dataType: 'text',
            success: function (data1) {
                var data;
                if(data1==""){
                    window.location.href = "/login";
                }else{
                    data = JSON.parse(data1);
                }
                $("#username").text(data.username);
                $("#name").text(data.name);
            }, error: function () {

            }
        });
    });
</script>

<script>

    var bgclass = ["bg-primary", "bg-success", "bg-info", "bg-warning", "bg-danger", "bg-purple", "bg-cyan", "bg-brown"];

    function randomNum(minNum, maxNum) {
        switch (arguments.length) {
            case 1:
                return parseInt(Math.random() * minNum + 1, 10);
                break;
            case 2:
                return parseInt(Math.random() * (maxNum - minNum + 1) + minNum, 10);
                break;
            default:
                return 0;
                break;
        }
    }

    function noRepeatnum(num, minNum, maxNum) {
        var i = 0;
        var ans = new Array();
        for (; i < num;) {
            var tmp = randomNum(minNum, maxNum);
            if ($.inArray(tmp, ans) != -1) {
                continue;
            } else {
                ans.push(tmp);
                i++;
            }
        }
        return ans.sort();
    }

    function startToWrite() {
        $(".small").hide();
        $("#main-body").hide();
        $("#main-body2").show();

        //$("#time-left").hide();
        $("#go").hide();
        $("#answer_submit").show();
    }


    $("#start").on('click', function () {
        var word_number = $("#difficulty").val();
        var time = 600;
        var time2 = 600;
        //var time = 5;
        var mydata = "num=20" + "&type=poem";
        $.ajax({
            type: 'get',
            url: '/getData',
            data: mydata,
            async: false,
            dataType: 'text',
            success: function (data) {
                //alert(data);
                var myJson = JSON.parse(data);
                var myhtml = "";
                var len = Object.keys(myJson).length;
                for (var i = 0; i < len; i++) {
                    myhtml += "<div class=\"card\">";
                    myhtml += "<div class=\"card-header " + bgclass[i % 8] + "\">";
                    myhtml += "<h4>古诗No." + (i + 1) + "</h4>";
                    myhtml += "</div>";
                    myhtml += "<div class=\"card-body\" style='text-align: center'>";
                    myhtml += "<div id=\"show" + (i + 1) + "\">";
                    myhtml += "<h5 style=\"font-weight: bold\">" + myJson[i].title + "</h5>";
                    myhtml += "<h6 style=\"font-weight: bold\">" + myJson[i].writer + "</h6>";
                    myhtml += "<div id=\"poem" + (i + 1) + "\">";
                    var myarr = new Array();
                    myarr = myJson[i].poem.split('，');
                    var len1 = myarr.length;
                    for (var j = 0; j < len1; j += 2) {
                        myhtml += "<span id='poem" + (i + 1) + "_" + (j + 1) + "'>" + myarr[j] + "</span>" + "，" + "<span id='poem" + (i + 1) + "_" + (j + 2) + "'>" + myarr[j + 1] + "</span>" + "。" + "<br>";
                    }

                    //myhtml += "<h5 style=\"font-weight: bold\">"+myJson[i].poem+"</h5>";

                    myhtml += "</div>";
                    myhtml += "</div>";
                    // myhtml += "<div id=\"word_question" + (i + 1) + "\" style='display: none'>";
                    // myhtml += "<h4>中文：" + myJson[i].word_mean + "</h4>";
                    // myhtml += "<h4 style=\"display:inline-block;\">单词：</h4>";
                    // myhtml += "<input id=\"word" + (i + 1) + "\" type=\"text\" style=\"display: inline-block;border-top: none;border-left: none;border-right: none;outline: none\">";
                    // myhtml += "</div>";
                    // myhtml += "<div id=\"result" + (i + 1) + "\" style='display: none'>";
                    myhtml += "</div></div>";
                }
                $("#main-body ").html(myhtml);
                var myhtml2 = "";
                var poemNum = noRepeatnum(word_number, 1, 20);
                for (var i = 0; i < word_number; i++) {
                    myhtml2 += "<div class='card'>";
                    myhtml2 += "<div class='card-header " + bgclass[i % 8] + "'>";
                    myhtml2 += "<h4>古诗填空No." + (i + 1) + "</h4>";
                    myhtml2 += "<h5 id='poem-num" + (i + 1) + "' style='display: none' >" + "poem" + poemNum[i] + "</h5>";
                    myhtml2 += "<h5 id='check-num" + (i + 1) + "' style='display: none;'>";
                    var myarr2 = noRepeatnum($("#poem" + poemNum[i] + " span").size() / 2, 1, $("#poem" + poemNum[i] + " span").size());
                    //alert($("#poem" + poemNum[i] + " span").size()/2);
                    for (var j = 0; j < myarr2.length; j++) {
                        if (j == 0)
                            myhtml2 += "poem" + poemNum[i] + "_" + myarr2[j];
                        else
                            myhtml2 += ",poem" + poemNum[i] + "_" + myarr2[j];
                    }
                    myhtml2 += "</h5>";
                    myhtml2 += "</div>";

                    myhtml2 += "<div id='ans" + (i + 1) + "' class=\"card-body\" style='text-align: center'>";
                    myhtml2 += "<h5>" + $("#show" + (poemNum[i]) + " h5").text() + "</h5>";
                    myhtml2 += "<h6>" + $("#show" + (poemNum[i]) + " h6").text() + "</h6>";
                    var len3 = $("#poem" + poemNum[i] + " span").size();
                    // for(var j=0;j<myarr2.length;j++){
                    //     alert("myarr2:"+myarr2[j]);
                    // }

                    for (var j = 0; j < len3; j += 2) {
                        if ($.inArray((j + 1), myarr2) != -1) {
                            //alert(j+1+"in1");
                            myhtml2 += "<input type='text' style='text-align:center;display: inline-block;border-left: none;border-right: none;border-top: none;outline: none'>" + "，";
                        } else {
                            //alert(j+1+"noin1");
                            myhtml2 += "<span>" + $("#poem" + (poemNum[i]) + "_" + (j + 1)).text() + "</span>" + "，";
                        }
                        myhtml2 += "<br>";
                        if ($.inArray(j + 2, myarr2) != -1) {
                            //alert(j+2+"in2");
                            myhtml2 += "<input type='text' style=\"text-align:center;display: inline-block;border-top: none;border-left: none;border-right: none;outline: none\">" + "。";
                        } else {
                            //alert(j+2+"noin2");
                            myhtml2 += "<span>" + $("#poem" + (poemNum[i]) + "_" + (j + 2)).text() + "</span>" + "。";
                        }
                        myhtml2 += "<br>";

                    }

                    // alert(str);
                    // $(str+" span").each(function () {
                    //     myhtml2+="<p class='small' >"+this.text()+"</p>";
                    // });
                    var str = $("#poem"+(poemNum[i])).html();
                    myhtml2+="<div class='small' style='font-weight: bold'>"+"--------"+"<br>"+str+"</div>";

                    myhtml2 += "</div></div>";
                }
                $("#main-body2").html(myhtml2);
                $("#go").show();

            }, error: function () {
                alert("题目获取失败");
            }
        });



        $("#difficulty").hide();
        $("#start").hide();
        $("#title").hide();
        $("#time").text(time);
        $("#time-left").show();
        var settime = setInterval(function () {
            if (time > 0) {
                $('#time').text(--time);
            } else {
                startToWrite();
                clearInterval(settime);
                $('html,body').animate({scrollTop: 0}, 100);
                return false;
            }
        }, 1000);
        var settime2;

        $("#go").on('click', function (e) {
            clearInterval(settime);
            startToWrite();
            $('html,body').animate({scrollTop: 0}, 100);
            $('#time').text(time2);
            settime2 = setInterval(function () {
                if (time2 > 0) {
                    $('#time').text(--time2);
                } else {
                    $("#answer_submit").trigger('click');
                }
            }, 1000);
            return false;
        });

        $("#answer_submit").on('click', function (e) {
            clearInterval(settime2);
            var cnt = 0;
            $("#answer_submit").hide();
            var word_number = $("#difficulty").val();
            for (var i = 0; i < word_number; i++) {
                var check_nums = $("#check-num" + (i + 1)).text().split(",");
                var ans_lists = $("#ans" + (i + 1) + " input");
                //alert(ans_lists.length);
                var idx = 0;

                $("#ans" + (i + 1) + " input").each(function () {
                    //alert($(this).val());
                    //alert("#"+check_nums[idx]+$("#" + check_nums[idx]).text());
                    if ($(this).val() != $("#" + check_nums[idx]).text()) {
                        $(this).css("color", "red");
                        $(this).css("border-color", "red");
                    } else {
                        $(this).css("color", "green");
                    }
                    $(this).attr("disabled", true);
                    idx++;
                });
                $("#result" + (i + 1)).show();

            }
            $(".lyear-layout-content").append("<button id=\"try-again\" class=\"btn btn-success btn-block\">再来一次</button>");
            $("#try-again").on('click', function () {
                location.reload();
            });

            $(".small").show();
            $('html,body').animate({scrollTop: 0}, 100);
            return false;
        });


    });
</script>
</body>
</html>