<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>文字记忆</title>
    <link rel="icon" href="favicon.ico" type="image/ico">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/style.min.css" rel="stylesheet">
</head>

<style>
    body{
        -moz-user-select:none;/*火狐*/
        -webkit-user-select:none;/*webkit浏览器*/
        -ms-user-select:none;/*IE10*/
        -khtml-user-select:none;/*早期浏览器*/
        user-select:none;
    }
</style>

<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <aside class="lyear-layout-sidebar">

            <!-- logo -->
            <div id="logo" class="sidebar-header">
                <a href="/index"><img src="images/logo-sidebar.png" title="LightYear" alt="LightYear"/></a>
            </div>
            <div class="lyear-layout-sidebar-scroll">
                <nav class="sidebar-main">
                    <ul class="nav nav-drawer">
                        <li class="nav-item"><a href="/index"><i class="mdi mdi-home"></i>首页</a></li>
                        <li class="nav-item"><a href="/number"><i class="mdi mdi-matrix"></i>数字记忆</a></li>
                        <li class="nav-item"><a href="/word"><i class="mdi mdi-sort-alphabetical"></i>单词记忆</a></li>
                        <li class="nav-item"><a href="/character"><i class="mdi mdi-library-books"></i>文字记忆</a></li>
                        <li class="nav-item"><a href="/picture"><i class="mdi mdi-square-inc"></i>图片记忆</a></li>
                        <li class="nav-item"><a href="/poem"><i class="mdi mdi-marker"></i>诗词记忆</a></li>
                    </ul>
                </nav>

                <div class="sidebar-footer">

                </div>
            </div>

        </aside>

        <!--头部信息-->
        <header class="lyear-layout-header">

            <nav class="navbar navbar-default">
                <div class="topbar">

                    <div class="topbar-left">
                        <div class="lyear-aside-toggler">
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                            <span class="lyear-toggler-bar"></span>
                        </div>
                        <div id="time-left" style="text-align: center;display: none">
                            <h3 class="mdi mdi-clock" style="display:inline-block;"></h3>
                            <h3 id="time" style="display:inline-block;">0</h3>
                        </div>
                        <span class="navbar-page-title"> 后台首页 </span>
                    </div>


                    <ul class="topbar-right">
                        <li class="dropdown dropdown-profile">
                            <a href="javascript:void(0)" data-toggle="dropdown">
                                <span id="name">笔下光年 <span class="caret"></span></span>
                                <span id="username" style="display:none;"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="/logout"><i class="mdi mdi-logout-variant"></i> 退出登录</a>
                                </li>
                            </ul>
                        </li>

                    </ul>

                </div>
            </nav>

        </header>
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div id="title" class="col-lg-12">
                    <div class="form-group" style="text-align: center;">
                        <h1 style="">文字记忆</h1>
                    </div>
                </div>


                <div id="mark_result" class="col-md-12" style="display: none">
                    <h3 id="correct_num"></h3>
                    <h3 id="correct_percent"></h3>

                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <select class="form-control" id="difficulty" name="difficulty">
                            <option value="1">难度：1段</option>
                            <option value="2">难度：2段</option>
                            <option value="3">难度：3段</option>
                        </select>
                    </div>
                </div>

                <!--                <div class="col-lg-12">-->
                <!--                    <div class="card">-->
                <!--                        <div class="card-header bg-primary">-->
                <!--                            <h4>单词No.1</h4>-->
                <!--                        </div>-->
                <!--                        <div class="card-body">-->
                <!--                            <div id="show1">-->
                <!--                                <h5 style="font-weight: bold">单词：<label id="word_answer1">hesitate</label></h5>-->
                <!--                                <h5 style="font-weight: bold">中文：<label>犹豫</label></h5>-->
                <!--                                <h5 style="font-weight: bold">分析：<label>he-他，sit-坐，ate-吃的过去式</label></h5>-->
                <!--                                <h5 style="font-weight: bold">记忆：<label>他犹豫的坐着吃</label></h5>-->
                <!--                            </div>-->
                <!--                            <div id="word_question1">-->
                <!--                                <h4>中文：犹豫</h4>-->
                <!--                                <h4 style="display:inline-block;">单词：</h4>-->
                <!--                                <input id="word1" type="text"-->
                <!--                                       style="display: inline-block;border-top: none;border-left: none;border-right: none;outline: none">-->
                <!--                            </div>-->
                <!--                            <div id="result1">-->
                <!--                                <h4 style="font-weight: bold">你的答案：<label>hesitate</label></h4>-->
                <!--                                <h4 style="color: green">回答正确</h4>-->
                <!--                                <h4 style="color: red">回答错误</h4>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="col-lg-12">
                    <div class="form-group">
                        <button id="start" class="btn btn-primary btn-block btn-lg" href="/number">点击开始</button>
                    </div>
                </div>
                <div id="main-body" class="col-lg-12">
                    <!--                    <div class="col-lg-12">-->
                    <!--                        <div class="card">-->
                    <!--                            <div class="card-header bg-primary">-->
                    <!--                                <h4>单词No.1</h4>-->
                    <!--                            </div>-->
                    <!--                            <div class="card-body">-->
                    <!--                                <h5 class="word"><b>单词：</b>hesitate</h5>-->
                    <!--                                <h5 class="word_mean"><b>中文：</b>犹豫</h5>-->
                    <!--                                <h5 class="analysis"><b>分析：</b>he-他，sit-坐，ate-吃的过去式</h5>-->
                    <!--                                <h5 class="memory"><b>记忆：</b>他犹豫的坐着吃</h5>-->
                    <!--                                <h4 style="display:none;"><b>中文：</b>犹豫</h4>-->
                    <!--                                <h4 style="display:none;"><b>单词：</b><input type="text" class="form-control" style="">-->
                    <!--                                </h4>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
                <button id="go" class="btn btn-primary btn-block" style="display: none">已记完，直接开始</button>
                <button id="answer_submit" class="btn btn-success btn-block" style="display: none">提交答案</button>
            </div>
            <button id="try-again" class="btn btn-success btn-block" style="display: none">再来一次</button>
        </main>
        <!--End 页面主要内容-->
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/perfect-scrollbar.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/bootstrap-notify.min.js"></script>
<script src="js/lightyear.js"></script>
<script>
    $(function () {
        $.ajax({
            type: 'get',
            url: '/get_info',
            traditional : true,
            //同步
            async: false,
            dataType: 'text',
            success: function (data1) {
                var data;
                if(data1==""){
                    window.location.href = "/login";
                }else{
                    data = JSON.parse(data1);
                }
                $("#username").text(data.username);
                $("#name").text(data.name);
            }, error: function () {

            }
        });
    });
</script>
<script>

    var bgclass = ["bg-primary", "bg-success", "bg-info", "bg-warning", "bg-danger", "bg-purple", "bg-cyan", "bg-brown"];

    function startToWrite() {
        var word_number = $("#difficulty").val();
        for (var i = 0; i < word_number; i++) {
            var tmp_id = "#show" + (i + 1);
            $("#main-body .card " + tmp_id).hide();
            var tmp_id2 = "#word_question" + (i + 1);
            $("#main-body .card " + tmp_id2).show();

            //$("#time-left").hide();
            $("#go").hide();
            $("#answer_submit").show();
        }
    }

    $("#start").on('click', function () {
        var word_number = $("#difficulty").val();
        var time = word_number * 60;
        var time2 = parseInt(time * 1.5);
        //var time = 5;
        var mydata = "num=" + word_number + "&type=character";
        $.ajax({
            type: 'get',
            url: '/getData',
            data: mydata,
            async: false,
            dataType: 'text',
            success: function (data) {
                //alert(data);
                var myJson = JSON.parse(data);
                var myhtml = "";
                var len = Object.keys(myJson).length;
                for (var i = 0; i < len; i++) {
                    myhtml += "<div class=\"card\">";
                    myhtml += "<div class=\"card-header " + bgclass[i % 8] + "\">";
                    myhtml += "<h4>段落No." + (i + 1) + "</h4>";
                    myhtml += "</div>";
                    myhtml += "<div class=\"card-body\">";
                    myhtml += "<div id=\"show" + (i + 1) + "\">";
                    myhtml += "<h5>"+myJson[i].character+"</h5>";
                    myhtml += "</div>";
                    myhtml += "<div id=\"word_question" + (i + 1) + "\" style='display: none'>";
                    myhtml += "<h4 style=\"display:inline-block;\">默写段落：</h4>";
                    //myhtml += "<input id=\"word" + (i + 1) + "\" type=\"text\" style=\"display: inline-block;border-top: none;border-left: none;border-right: none;outline: none\">";
                    myhtml+="<textarea id = \"word" + (i + 1) + "\" class='form-control' rows='7'></textarea>"
                    myhtml += "</div>";
                    myhtml += "<div id=\"result" + (i + 1) + "\" style='display: none'>";
                    myhtml += "</div></div></div>";
                }
                $("#main-body ").html(myhtml);
                $("#go").show();

            }, error: function () {
                alert("题目获取失败");
            }
        });

        $("#difficulty").hide();
        $("#start").hide();
        $("#title").hide();
        $("#time").text(time);
        $("#time-left").show();
        var settime = setInterval(function () {
            if (time > 0) {
                $('#time').text(--time);
            } else {
                startToWrite();
                clearInterval(settime);
                $('html,body').animate({scrollTop: 0}, 100);
                return false;
            }
        }, 1000);
        var settime2;

        $("#go").on('click', function (e) {
            clearInterval(settime);
            startToWrite();
            $('html,body').animate({scrollTop: 0}, 100);
            $('#time').text(time2);
            settime2 = setInterval(function () {
                if (time2 > 0) {
                    $('#time').text(--time2);
                } else {
                    $("#answer_submit").trigger('click');
                }
            }, 1000);
            return false;
        });

        $("#answer_submit").on('click',function (e) {
            clearInterval(settime2);
            var cnt = 0;
            $("#answer_submit").hide();
            var word_number = $("#difficulty").val();
            for (var i = 0; i < word_number; i++) {
                //var myhtml = "<h4 style=\"font-weight: bold\">你的答案：<label>"+$("#word"+(i+1)).val()+"</label></h4>";
                var myhtml = "<h4>--------</h4>";
                var len1 = $("#show"+(i+1)).text().length;
                //alert(len1);
                var len2 = $("#word"+(i+1)).val().length;
                //alert(len2);
                var k = 0;
                var str1 = $("#show"+(i+1)).text();
                var str2 = $("#word"+(i+1)).val();
                var len = len1>=len2?len2:len1;

                for(k=0;k<len;k++){
                    if(str1[k]!=str2[k]){
                        myhtml+="<span style='color: red'>"+str2[k]+"</span>";
                    }else{
                        myhtml+="<span>"+str2[k]+"</span>";
                    }
                }
                if(len2>len1){
                    for(;k<len2;k++){
                        myhtml+="<span style='color: red'>"+str2[k]+"</span>";
                    }
                }

                if($("#word"+(i+1)).val()!=$("#show"+(i+1)).text()){
                    myhtml+="<h4>--------</h4><h4 style=\"color: red\">回答错误</h4>";
                }else{
                    cnt++;
                    myhtml+="<h4>--------</h4><h4 style=\"color: green\">回答正确</h4>";
                }
                $("#result"+(i+1)).html(myhtml);
                $("#word_question"+(i+1)).hide();
                $("#result"+(i+1)).show();
                $("#show"+(i+1)).show();
            }
            $("#correct_num").text("准确数："+cnt+"/"+word_number);
            $("#correct_percent").text("准确率："+Math.round((cnt/word_number)*100)+"%");
            $("#mark_result").show();
            $("#try-again").show();
            $('html,body').animate({scrollTop: 0}, 100);
            return false;

        });

        $("#try-again").on('click',function () {
            location.reload();
        })
    });
</script>
</body>
</html>